* {
    margin: 0;
    padding: 0;
}
.main-dive {
    width: 100%;
    height: 100%;
}


/* Nav bar ------------------------------------------ */
.nav-bar{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-box{
    width: 80%;
    height: 100%;
    /* border: 1px solid rgb(0, 2, 12); */
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-box-left{
    height: 100%;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: end;
    /* border: 1px solid rgb(23, 201, 23); */
}
.nav-bar-box-right{
    height: 100%;
    width: 100%;
    /* border: 1px solid rgb(14, 47, 211); */
}
.nav-bar h1{
    color: white;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    padding-bottom: 5px;
    cursor: pointer;
}
.nav-bar ul{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.nav-bar li{
    padding-right: 25px;
    font-size: 20px;
    font-weight: 900;
    font-family: 'Righteous', cursive;
    padding-bottom: 5px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.nav-bar i{
    display: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
}


.indro-div {
    border: 5px solid rgb(0, 255, 0);
    position: relative;
}
.main-div-img {
    background-image: url("./img/background.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    filter: blur(2px);
    z-index: 1;
}
.main-div-txt {
    position: absolute;
    z-index: 10;
}
.main-div-txt h2 {
    font-family: 'Righteous', cursive;
    font-weight: 900;
    color: rgb(0, 255, 0);
}


/* Items ---------------------------------------------- */
.items-div {
    /* border: 1px solid red; */
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}
.item {
    /* border: 1px solid rgb(17, 0, 255); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.item-img  {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
}
.img-1 {
    background-image: url("./img/burger.jpg");
}
.img-2 {
    background-image: url("./img/pizza.png");
}
.img-3 {
    background-image: url("./img/chips.jpg");
}
.img-4 {
    background-image: url("./img/fried_chichen.jpg");
}
.img-5 {
    background-image: url("./img/submarin_bun.jpg");
}
.img-6 {
    background-image: url("./img/donut.jpg");
}
.img-7 {
    background-image: url("./img/cola.png");
}
.img-8 {
    background-image: url("./img/7up.jpg");
}
.item-price {
    background-color: red;
    position: absolute;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    right: 0;
    bottom: 0;
}


/* Delivery ---------------------------------------------- */
.delivery{
    width: 100%;
    height: 500px;
    border: 1px solid rgb(17, 0, 255);
}


/* Decstop */
@media only screen and (min-width: 769px) {
    .main-div-txt {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-div-txt h1 {
        font-size: 80px;
    }
    .main-div-txt h2 {
        font-size: 60px;
    }
    .item {
        margin: 10px 0px 0px 10px;
        height: 200px;
        width: 23%;
    }
    .item-price {
        width: 80px;
        height: 80px;
        margin-top: -90px;
        margin-left: 10%;
    }
}
/* Tablet */
@media only screen and (min-width: 426px) and (max-width: 850px) {
    .main-div-txt {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-div-txt h1 {
        font-size: 80px;
    }
    .main-div-txt h2 {
        font-size: 60px;
    }
    .item {
        margin: 10px 0px 0px 10px;
        height: 200px;
        width: 45%;
    }
    .item-price {
        width: 80px;
        height: 80px;
        margin-top: -90px;
        margin-left: 25%;
    }
    .nav-bar-box-right {
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
    }
    .nav-bar i{
        display: flex;
    }
    .nav-bar ul{
        display: none;
    }

}
/* Mobile */
@media only screen and (max-width: 425px) {
    .main-div-txt {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .main-div-txt h1 {
        font-size: 70px;
        
    }
    .main-div-txt h2 {
        font-size: 50px;
    }
    .item {
        margin: 10px 10px 0px 10px;
        height: 200px;
        width: 100%;
    }
    .item-price {
        width: 80px;
        height: 80px;
        margin-top: -90px;
        right: 5%;
    }
    .nav-bar-box-right {
        display: flex;
        justify-content: end;
        align-items: center;
        width: auto;
    }
    .nav-bar i{
        display: flex;
    }
    .nav-bar ul{
        display: none;
    }
}
